<div class="container">
  <div class="col-lg-6 offset-3">
    <fieldset>
      <div class="form-group">
        <label class="control-label"  for="photo_car">Фото авто</label>
        <div class="controls">
          <input type="file" id="photo_car" name="photo_car" placeholder="" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"  for="photo_driver_license">Фото посвідчення водія</label>
        <div class="controls">
          <input type="file" id="photo_driver_license" name="photo_driver_license" placeholder="" class="form-control">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"  for="photo_car_license">Фото номерних знаків</label>
        <div class="controls">
          <input type="file" id="photo_car_license" name="photo_car_license" placeholder="" class="form-control">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="rate_min">Мінімальна вартість послуг</label>
        <div class="controls">
          <input type="text" id="rate_min" name="rate_min" placeholder="" class="form-control">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"  for="rate_km_hightway">Ціна за кілометр по шосе</label>
        <div class="controls">
          <input type="text" id="rate_km_hightway" name="rate_km_hightway" placeholder="" class="form-control">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="form-group">
        <!-- Username -->
        <label class="control-label"  for="rate_km_city">Ціна за кілометр по місту</label>
        <div class="controls">
          <input type="text" id="rate_km_city" name="rate_km_city" placeholder="" class="form-control">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="form-group">
        <!-- Username -->
        <label class="control-label"  for="about_me">Додаткова інформація</label>
        <div class="controls">
          <input type="text" id="about_me" name="about_me" placeholder="" class="form-control">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="form-group">
        <!-- Username -->
        <label class="control-label"  for="coefficient_congestion">Коефіцієнт зміни вартості</label>
        <div class="controls">
          <input type="text" id="coefficient_congestion" name="coefficient_congestion" placeholder="" class="form-control">
          <p class="help-block">Коефіцієнт зміни вартості під час заторів, поганої дороги</p>
        </div>
      </div>
      <div class="form-group">
        <!-- Username -->
        <label class="control-label"  for="add_service">Кондиціонер</label>
        <div class="controls">
          <input type="checkbox" id="conditioner" name="conditioner" placeholder="" class="form-control">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"  for="type_salon">Тип салону</label>
        <div class="controls">
                <select class="form-control" name="type_salon" value="any">
                <option>Будь-який</option>
                <option>Бюджет</option>
                <option>Бізнес</option>
                <option>Джип</option>
              </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label"  for="place_from_things">Місце для багажу</label>
        <div class="controls">
          <input type="checkbox" id="place_from_things" name="place_from_things" placeholder="" class="form-control">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"  for="count_places">Кількість пасажирських місць</label>
        <div class="controls">
          <input type="text" id="count_places" name="count_places" placeholder="" class="form-control">
          <p class="help-block"></p>
        </div>
      </div>
    </fieldset>
  </div>
</div>