{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Taxi</title>
	<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"></head>
  	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script lanaguage="JavaScript" type="text/javascript" src="{% static 'js/driver_orders.js' %}"></script>
<body>
	<div>{% include 'topmenu.html' %}</div>
	<div>{% include 'map.html' %}</div>
	{% csrf_token %}
	<div class="order-container">
		
	</div>
	<div class="user-infa">
	</div>
</body>
</html>