<div class="container">
  <div class="col-lg-6 offset-3">
    <fieldset>
      <div class="form-group">
        <label class="control-label"  for="photo_car">Photo of your car</label>
        <div class="controls">
          <input type="file" id="photo_car" name="photo_car" placeholder="" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"  for="photo_driver_license">photo_driver_license</label>
        <div class="controls">
          <input type="file" id="photo_driver_license" name="photo_driver_license" placeholder="" class="form-control">
          <p class="help-block">photo_driver_license</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"  for="photo_car_license">photo_car_license</label>
        <div class="controls">
          <input type="file" id="photo_car_license" name="photo_car_license" placeholder="" class="form-control">
          <p class="help-block">photo_car_license</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="rate_min">rate_min</label>
        <div class="controls">
          <input type="text" id="rate_min" name="rate_min" placeholder="" class="form-control">
          <p class="help-block">rate_min</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"  for="rate_km_hightway">rate_km_hightway</label>
        <div class="controls">
          <input type="text" id="rate_km_hightway" name="rate_km_hightway" placeholder="" class="form-control">
          <p class="help-block">rate_km_hightway</p>
        </div>
      </div>
      <div class="form-group">
        <!-- Username -->
        <label class="control-label"  for="rate_km_city">rate_km_city</label>
        <div class="controls">
          <input type="text" id="rate_km_city" name="rate_km_city" placeholder="" class="form-control">
          <p class="help-block">rate_km_city</p>
        </div>
      </div>
      <div class="form-group">
        <!-- Username -->
        <label class="control-label"  for="about_me">about_me</label>
        <div class="controls">
          <input type="text" id="about_me" name="about_me" placeholder="" class="form-control">
          <p class="help-block">about_me</p>
        </div>
      </div>
      <div class="form-group">
        <!-- Username -->
        <label class="control-label"  for="coefficient_congestion">coefficient_congestion</label>
        <div class="controls">
          <input type="text" id="coefficient_congestion" name="coefficient_congestion" placeholder="" class="form-control">
          <p class="help-block">coefficient_congestion</p>
        </div>
      </div>
      <div class="form-group">
        <!-- Username -->
        <label class="control-label"  for="add_service">conditioner</label>
        <div class="controls">
          <input type="checkbox" id="conditioner" name="conditioner" placeholder="" class="form-control">
          <p class="help-block">conditioner</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"  for="type_salon">type_salon</label>
        <div class="controls">
          <input type="text" id="type_salon" name="type_salon" placeholder="" class="form-control">
          <p class="help-block">type_salon</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"  for="place_from_things">place_from_things</label>
        <div class="controls">
          <input type="checkbox" id="place_from_things" name="place_from_things" placeholder="" class="form-control">
          <p class="help-block">place_from_things</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"  for="count_places">count_places</label>
        <div class="controls">
          <input type="text" id="count_places" name="count_places" placeholder="" class="form-control">
          <p class="help-block">count_places</p>
        </div>
      </div>
    </fieldset>
  </div>
</div>