{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Taxi</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"></head>
	<script lanaguage="JavaScript" type="text/javascript" src="{% static 'js/main_menu.js' %}"></script>
<body>
	{% csrf_token %}
	<div>{% include 'topmenu.html' %}</div>
	<table>
		<tr>
			<th>Driver</th>
	   </tr>
		{% for d in fd %}
			<tr> 
				<td><a href="/driver_profile/{{ d.user }}">{{ d.user }}</a></td>
				<td>{% if d.state == 0 %} online {% elif d.state == 1 %} has order {% else %} offline {% endif %}</td>
				<td><a href="/order/{{ d.user.username }}">Create order</a></td>
			</tr>
		{% endfor %}
	</table>