{% load staticfiles %}
<!--<p class="lead">Shop Name</p>-->
<div class="list-group">
	{% if user2.is_authorized %}
          {% if user2.photo %}
	<a href = '/order/' class="list-group-item">Створити замовлення</a>
	{% else %}
	<a href = '/driver_order/' class="list-group-item">Отримати замовлення</a>
	{% endif %}
	<a href='/history/' class="list-group-item">Історія замовлень</a>
	<a href='/rating/' class="list-group-item">Рейтинг</a>
	{% if user2.photo %}
	<a href="/favourite_drivers/" class="list-group-item">Улюблені водії</a>
	{% endif %}
{% if not user2.photo %}
<input type="hidden" id="driver" value="{{ driver }}">
<div id="state">
        {% if user2.state == 2 %} 
        <button id="change_state" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> <b>offline</b></button>
		{% else %}
		<button id="change_state" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> <b>online</b></button>
		{% endif %}
</div>
{% endif %}
      {% endif %}
</div>