{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Taxi</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"></head>
	{# <script lanaguage="JavaScript" type="text/javascript" src="{% static 'js/main_menu.js' %}"></script> #}
<body>
	{% csrf_token %}
	<div>{% include 'topmenu.html' %}</div>

	<table>
		<tr>
			<th>Driver</th>
			<th>Client</th>
			{% if user_type == "driver" %}
				<th>Mark - car_state</th>
				<th>Mark - order_execution</th>
				<th>Mark - comfort</th>
				<th>Mark - avarage_value</th>
			{% else %}
				<th>Mark</th>
			{% endif %}
	   </tr>
		{% for r in ratings %}
			<tr> 
				<td>{{ r.driver.user}}</td>
				<td>{{ r.client.client_user }}</td>
				{% if user_type == "client" %}
					<td>{{ r.value }}</td>
				{% else %}
					<td>{{ r.car_state }}</td>
					<td>{{ r.order_execution }}</td>
					<td>{{ r.comfort }}</td>
					<td>{{ r.avarage_value }}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
	<h4>Result = {{ mark }}</h4>
	<a href="/">Back</a>
</body>
</html>