{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Taxi</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"></head>
	{# <script lanaguage="JavaScript" type="text/javascript" src="{% static 'js/main_menu.js' %}"></script> #}
<body>
	{% csrf_token %}
	<div>{% include 'topmenu.html' %}</div>

	<table>
		<tr>
			<th>Driver</th>
			<th>Client</th>
			<th>Mark</th>
	   </tr>
		{% for r in ratings %}
			<tr> 
				<td>{{ r.driver.user}}</td>
				<td>{{ r.cient.client_user }}</td>
				<td>{{ r.value }}</td>
			</tr>
		{% endfor %}
	</table>
	<h4>Result = {{ mark }}</h4>
	<a href="/">Back</a>
</body>
</html>