{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Taxi</title>
	<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"></head>
	{# <script lanaguage="JavaScript" type="text/javascript" src="{% static 'js/main_menu.js' %}"></script> #}
<body>
	{% csrf_token %}
	<div>{% include 'topmenu.html' %}</div>
	<div class="container">
		<div class="row">
			<div class="col-md-2">{% include 'leftmenu.html' %}</div>
			<div class="col-md-10">

	<table class="table table-bordered">
		<tr>
			<th>Водій</th>
			<th>Клієнт</th>
			{% if user_type == "driver" %}
				<th>Стан авто</th>
				<th>Якість виконання замовлення</th>
				<th>Комфорт</th>
				<th>Середнє значення</th>
			{% else %}
				<th>Оцінити</th>
			{% endif %}
	   </tr>
		{% for r in ratings %}
			<tr> 
				<td>{{ r.driver.user}}</td>
				<td>{{ r.client.client_user }}</td>
				{% if user_type == "client" %}
					<td>{{ r.value }}</td>
				{% else %}
					<td>{{ r.car_state }}</td>
					<td>{{ r.order_execution }}</td>
					<td>{{ r.comfort }}</td>
					<td>{{ r.avarage_value }}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
	<h4>Результат = {{ mark }}</h4>
	
	</div>
		</div>
		<a href="/" style="text-decoration: none;   color: black; margin-top: 9px;left: 281px; vertical-align: middle;">
			<span class="glyphicon" style="text-decoration: none; color: black; margin-top: 9px;left: 281px; vertical-align: middle;" aria-hidden="true">Повернутися</span>
		</a>
		<div class="footer">
			<div class="row">
				<hr>
				<div class="col-md-2"></div>
				<div class="col-md-10">Олександр Ничепорук & Андрій Лецик &copy; Всі права захищено</div>
			</div>
		</div>
	</div>
</body>
</html>