{% load staticfiles %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Fast Taxi</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Головна сторінка</a>
        </li>
        <li>
          <a href="#">Про нас</a>
        </li>
        <li>
          <a href="#">Контакти</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <form action="/logout/" method="post">
        {% csrf_token %}
        <div class="navbar-form navbar-right" role="search">
          <span style="color: white;">Привіт, {{ user.username }}</span>
          <a href='/logout/'>
            <button class="btn btn-default">Вийти</button>
          </a>
        </div>
      </form>
      {% else %}
      <form action="/logging/" method="post">
        {% csrf_token %}
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="sign_up">Реєстрація</a>
          </li>
        </ul>
        <div class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Логін" id="logging_username" name="username"/>
            <input type="password" class="form-control" placeholder="Пароль" id="logging_password" name="password"/>
          </div>
          <button type="submit" class="btn btn-default" id="sign_in">Увійти</button>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</nav>